<h1><%= "Admin View for #{@user.name}'s Dashboard" %></h1><%= link_to "Discover Page", user_discover_path(user_id: params[:id]), class: "btn btn-primary" %>
<p> Location: <%= cookies[:location] %> </p>
<section class="viewing_parties">
  <% @user.viewing_parties.each do |party| %>
    <div class="viewing_party_<%=party.id%>">
         Party Time: <%= party.date %> at <%= party.start_time %><br>
         Host: <%= party.find_host.name %><br>
         Who's Coming? <br/>

         <ol>
            <% party.users.each do |attendee| %>
               <li><%= attendee.name %> </li>
            <% end %>
         </ol>
        
        <% if party.movie_id && @movie_info %>
          Movie Title: <%= @movie_info[party.id][:title] %>
          <%= image_tag(@movie_info[party.id][:poster]) %>
        <% end %>
    </div><br>
  <% end %>
</section>